<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="post"></form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age" required><br><br>

    <label for="phoneno">Phone no:</label><br>
    <input type="number" id="number" name="number" required><br><br>

    <label for="gender">Gender:</label><br>  
    <input type="radio" id="male" name="gender" required>
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" required>
    <label for="female">Female</label>
    <input type="radio" id="other" name="gender" required>
    <label for="other">Other</label>
    
    <label for="email">email id:</label><br>
    <input type="text" id="email" name="email" required><br><br>

    <label for="qualification">Qualification:</label><br>
    <input type="text" id="qualification" name="qualification" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>



