<html>
<head>
    <title> Add Job</title>
</head>
<body>
    <h2> Add Job</h2>
    <form action="/register" method="post"></form>
    <label for="Company name">Company Name:</label><br>
    <input type="text" id="Company name" name="Company name" required><br><br>

    <label for="Job name">Job Name:</label><br>
    <input type="text" id="Job name" name="Job name" required><br><br>

    <label for="Job Details">Job Details:</label><br>
    <textarea name ="Job details" id="Job details" ></textarea><br><br>

    <label for="Qualification">Qualification:</label><br>
    <input type="text" id="Qualification" name="Qualification" required><br><br>

    <label for="Experience">Experience:</label><br>
    <input type="text" id="Experience" name="Experience" required><br><br>

    <input type="submit" value="Add">
  </form>
  </body>
</html>