<html>
<head>
    <title> HR Register Page</title>
</head>
<body>
    <h2> HR Register</h2>
    <form action="/register" method="post"></form>
    <label for="company name">Company Name:</label><br>
    <input type="text" id="company name" name="company name" required><br><br>

    <label for="address">Address:</label><br>
    <textarea name ="address" id="address" ></textarea><br>

    <label for="phoneno">Phone no:</label><br>
    <input type="number" id="number" name="number" required><br><br>


    <label for="email">email id:</label><br>
    <input type="text" id="email" name="email" required><br><br>

   
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Submit">
  </form>