<!DOCTYPE html>
<html>
<head>
    <title>Manage Job</title>
</head>
<body>
    <h2>Manage Job</h2>
    <table border="1 px">
    <a href="">add</a>
        <tr>
            <th>S.no</th>
            <th>Company Name </th>
            <th>job name</th>
            <th>job details</th>
            <th>Qualification</th>
            <th>experience</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <a href="">edit</a>
                <a href="">delete</a>
            </td>
        </tr>
        
    </table>
</body>
</html>