<!DOCTYPE html>
<html>
<head>
    <title>View User</title>
</head>
<body>
    <h2>View User</h2>
    <table border="1 px">
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone no</th>
            <th>Email id</th>
            <th>Qualification</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>