<!DOCTYPE html>
<html>
<head>
    <title>Viewcourse</titl></title>
</head>
<body>
    <h2>Viewcourse</h2>
    <table border="1 px">
    <a href="">add</a>
        <tr>
            <th>S.no</th>
            <th>Course Name </th>
            <th>Category</th>
            <th>duration</th>
            <th>action</th>
            
            </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <a href="">edit</a>
                <a href="">delete</a>

            </td>
        </tr>
        
    </table>
</body>
</html>